<%= form_with(model: book_link) do |form| %>
  <% if book_link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_link.errors.count, "error") %> prohibited this book_link from being saved:</h2>

      <ul>
        <% book_link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :BookPublisher_id, style: "display: block" %>
    <%= form.text_field :BookPublisher_id %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
