<div id="<%= dom_id borrow_extension %>">
  <p>
    <strong>Borrow:</strong>
    <%= borrow_extension.Borrow_id %>
  </p>

  <p>
    <strong>Extensionreason:</strong>
    <%= borrow_extension.ExtensionReason_id %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= borrow_extension.approver_id %>
  </p>

  <p>
    <strong>Extended days:</strong>
    <%= borrow_extension.extended_days %>
  </p>

  <p>
    <strong>New return date:</strong>
    <%= borrow_extension.new_return_date %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= borrow_extension.cost %>
  </p>

</div>
