<%= form_with(model: physical_book, class: "box") do |form| %>
  <% if physical_book.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(physical_book.errors.count, "error") %> prohibited this physical_book from being saved:</h2>

      <ul>
        <% physical_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bought, class: "label" %>
    <div class="control">
      <%= form.datetime_field :bought, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :decommissioned, class: "label" %>
    <div class="control">
      <%= form.datetime_field :decommissioned, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :monetary_value, class: "label" %>
    <div class="control">
      <%= form.text_field :monetary_value, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :comments, class: "label" %>
    <div class="control">
      <%= form.text_field :comments, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :book_id, class: "label" %>
    <div class="control">
      <%= form.text_field :book_id, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Save", class: "button is-primary" %>
    </div>
  </div>
<% end %>
