<div id="<%= dom_id physical_book %>">
  <p>
    <strong>Bought:</strong>
    <%= physical_book.bought %>
  </p>

  <p>
    <strong>Decommissioned:</strong>
    <%= physical_book.decommissioned %>
  </p>

  <p>
    <strong>Monetary value:</strong>
    <%= physical_book.monetary_value %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= physical_book.comments %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= physical_book.book_id %>
  </p>

</div>
