<p style="color: green"><%= notice %></p>

<h1>Physical books</h1>
<%= form_with url: search_physical_books_path, method: :get, 
  data: {controller: "searchnnot", searchn_target: 'form', turbo_frame:'physical_books' },
  class:"container" do |f| %>
    <div class="field has-addons">
      <div class="control has-icons-left is-expanded">
        <%= f.text_field :search_field,
          class: 'input',
          autocomplete: 'off', autofocus: true,
          placeholder: 'search by section name (no less then 3 chars)',
          data: { action: 'input->searchn#search'},
          value: params[:search_field] %>
        <span class="icon is-small is-left">
          <i class="fas fa-search has-text-grey-light"></i>
        </span>
      </div>
    </div>
<% end %>
<div id="physical_books">
  <% @physical_books.each do |physical_book| %>
    <%= render physical_book %>
    <p>
      <%= link_to "Show this physical book", physical_book %>
    </p>
  <% end %>
</div>

<%= link_to "New physical book", new_physical_book_path %>
