<p style="color: green"><%= notice %></p>

<%= render @book_title %>

<div>
  <%= link_to "Edit this book title", edit_book_title_path(@book_title) %> |
  <%= link_to "Back to book titles", book_titles_path %>

  <%= button_to "Destroy this book title", @book_title, method: :delete %>
</div>
