<div id="<%= dom_id student %>" class="box">
  <div class="columns is-multiline">
    <div class="column is-half">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Nickname:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.nickname %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Email:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.email %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">First name:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.first_name %>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Last name:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.last_name %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Middle name:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.middle_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      
<div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Phone number:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.phone_number %>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Role:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.role.name if student.role %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Department:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.department.name if student.department %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Start date:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.start_date %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">End date:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <%= student.end_date %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
