<div id="<%= dom_id user %>">
  <p>
    <strong>Nickname:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>Pfp:</strong>
    <%= user.pfp %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= user.middle_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= user.department_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= user.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= user.end_date %>
  </p>

</div>
