<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= render partial:'layouts/search_box', locals: {path: search_users_path, frame_name: 'users'} %>

<div id="users">
<%= turbo_frame_tag "users" do %>
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
<% end %>
</div>

<%= link_to "New user", new_user_path %>
