<div id="<%= dom_id publisher %>">
  <p>
    <strong>Photo:</strong>
    <%= publisher.photo %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= publisher.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= publisher.link %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= publisher.country %>
  </p>

</div>
