<div id="<%= dom_id extension_reason %>">
  <p>
    <strong>Name:</strong>
    <%= extension_reason.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= extension_reason.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= extension_reason.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= extension_reason.end_date %>
  </p>

</div>
