<div id="<%= dom_id professor %>">
  <p>
    <strong>Nickname:</strong>
    <%= professor.nickname %>
  </p>

  <p>
    <strong>Pfp:</strong>
    <%= professor.pfp %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professor.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= professor.phone_number %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= professor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= professor.last_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= professor.middle_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= professor.role_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= professor.department_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= professor.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= professor.end_date %>
  </p>

</div>
