<div id="<%= dom_id book %>">
  <p>
    <strong>Bookpublisher:</strong>
    <%= book.BookPublisher_id %>
  </p>

  <p>
    <strong>Bought:</strong>
    <%= book.bought %>
  </p>

  <p>
    <strong>Decommissioned:</strong>
    <%= book.decommissioned %>
  </p>

  <p>
    <strong>Monetary value:</strong>
    <%= book.monetary_value %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= book.comments %>
  </p>

</div>
