<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.Publisher_id %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= book.edition %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= book.published_at %>
  </p>

  <p>
    <strong>Forma:</strong>
    <%= book.format %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= book.synopsis %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.ISBN %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

</div>
