<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="container notification is-warning">
      <h2><%= pluralize(book.errors.count, "error") %>
        prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :BookPublisher_id, class: "label" %>
    <div class="control">
      <%= form.text_field :BookPublisher_id, class: "input", autofocus: true %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="field column pl-0">
      <%= form.label :bought, class: "label" %>
      <div class="control">
        <%= form.date_field :bought, class: "input" %>
      </div>
    </div>

    <div class="field column pr-0">
      <%= form.label :decommissioned, class: "label" %>
      <div class="control">
        <%= form.date_field :decommissioned, class: "input" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :monetary_value, class: "label" %>
    <div class="control">
      <%= form.text_field :monetary_value, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :comments, class: "label" %>
    <div class="control">
      <%= form.text_field :comments, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-link" %>
    </div>
  </div>
<% end %>
