<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= render partial:'layouts/search_box', locals: {path: search_books_path, frame_name: 'books'} %>
<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
