<div id="<%= dom_id book_publisher %>">
  <p>
    <strong>Cover pic:</strong>
    <%= book_publisher.cover_pic %>
  </p>

  <p>
    <strong>Book title:</strong>
    <%= book_publisher.book_title_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book_publisher.Publisher_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= book_publisher.date %>
  </p>

</div>
