<div id="<%= dom_id card %>">
  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= card.photo %>
  </p>

  <p>
    <strong>Issuer:</strong>
    <%= card.issuer_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= card.active %>
  </p>

  <p>
    <strong>Lost:</strong>
    <%= card.lost %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= card.issue_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= card.end_date %>
  </p>

</div>
