<div id="<%= dom_id borrow %>">
  <p>
    <strong>Book:</strong>
    <%= borrow.physical_book.book.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= borrow.user_id %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= borrow.approver_id %>
  </p>

  <p>
    <strong>Return inspector:</strong>
    <%= borrow.return_inspector_id %>
  </p>

  <p>
    <strong>Borrow date:</strong>
    <%= borrow.borrow_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= borrow.scheduled_return_date %>
  </p>

  <p>
    <strong>Returned at:</strong>
    <%= borrow.returned_at %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= borrow.cost %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= borrow.comments %>
  </p>

</div>
