<%= form_with(model: borrow) do |form| %>
  <% if borrow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
        <% borrow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Book_id, style: "display: block" %>
    <%= form.text_field :Book_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :approver_id, style: "display: block" %>
    <%= form.number_field :approver_id %>
  </div>

  <div>
    <%= form.label :return_inspector_id, style: "display: block" %>
    <%= form.number_field :return_inspector_id %>
  </div>

  <div>
    <%= form.label :borrow_date, style: "display: block" %>
    <%= form.datetime_field :borrow_date %>
  </div>

  <div>
    <%= form.label :return_date, style: "display: block" %>
    <%= form.datetime_field :return_date %>
  </div>

  <div>
    <%= form.label :returned_at, style: "display: block" %>
    <%= form.datetime_field :returned_at %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.text_field :cost %>
  </div>

  <div>
    <%= form.label :comments, style: "display: block" %>
    <%= form.text_field :comments %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
