<div id="<%= dom_id librarian %>">
  <p>
    <strong>Nickname:</strong>
    <%= librarian.nickname %>
  </p>

  <p>
    <strong>Pfp:</strong>
    <%= librarian.pfp %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= librarian.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= librarian.phone_number %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= librarian.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= librarian.last_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= librarian.middle_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= librarian.role_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= librarian.department_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= librarian.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= librarian.end_date %>
  </p>

</div>
