<!DOCTYPE html>
<html>
  <head>
    <title>Labs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if notice %>
      <div class="notification is-primary">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-warning">
        <%= alert %>
      </div>
    <% end %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="favicon.svg" height="28">
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to t("main.home"), root_path, class: "navbar-item" %>
          <%= link_to t("main.dashboard"), home_dashboard_path, class: "navbar-item" %>
          <a class="navbar-item"><%= t("main.dashboard") %></a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item">
              <%= current_user.name %>
            </a>
            <div class="buttons">
              <%= link_to t("main.sign_in"), new_user_session_path, class: "button is-primary" %>
              <%= link_to t("main.sign_up"), new_user_registration_path, class: "button is-light" %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
